{% extends 'base.html' %}
{% import 'macro.html' as macro %}
{% block title %}
    首页
{% endblock %}

{% block fenlei %}
    <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for sort in sorts %}
                <li onclick="sorted()"><a href="#">{{ sort.name }}（{{ sort.total }}）</a></li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}
{% block tuijian %}
    <div class="tuijian">
        <h2>最新推荐</h2>
        <ul>
            {% for article in rec %}
                <li><a href="/">{{ article.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block guanzhu %}
{% endblock %}
{% block main %}

    <main class="r_box">
        {% for article in articles %}
            <li><i><a href="{{ url_for('blog.detail',aid=article.id) }}"><img src="{{ url_for('static',filename='images/1.jpg') }}"></a></i>
                <h3><a href="{{ url_for('blog.detail',aid=article.id) }}">{{ article.name }}</a>

                </h3>
                <small>作者 : {{ article.author }}</small>   <small style="margin-left: 5px">{{ article.timestamp }}</small>
                <P>
                    {{ article.summary|safe }}
                </P>
            </li>
        {% endfor %}
        {% if pagination %}
            <div class="pagelist">
                {{ macro.pagination_widget(pagination, 'blog.index') }}
            </div>
        {% endif %}

    </main>

{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}