{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block article %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div class="content">
        <main class="r_box">
            {% for article in articles %}
                <li><i><a href="/"><img src="{{ url_for('static',filename='images/1.jpg') }}"></a></i>
                    <h3><a href="/">{{ article.name }}</a>
                        <small>__{{ article.timestamp }}</small>
                    </h3>
                    <small>作者 : {{ article.author }}</small>
                    <P>
                        {{ article.summary|safe }}
                    </P>
                </li>
            {% endfor %}
        </main>
    </div>

{% endblock %}
{% block script %}
    <script>

        $(document).ready(function () {
            $(".lsss").click(function () {
                $(".r_box").remove();
            });
        });

    </script>
{% endblock %}
