<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <title>Title</title>
</head>
<body>
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">

                {{ data|safe }}

            </div>
        </div>
    </div>


{% endblock %}


{{ bootstrap.load_js() }}
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>
</html>