{% extends 'base.html' %}

{% block title %}
    detail
{% endblock %}
{% block scripts %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {{ pagedown.include_pagedown() }}
    <link href="{{ url_for('static',filename='css/info.css') }}" rel="stylesheet">
{% endblock %}

{% block fenlei %}
    <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for sort in sorts %}
                <li onclick="sorted()">
                    <a href="{{ url_for('blog.class_articles',sid=sort.id) }}">{{ sort.name }}（{{ sort.total }}）</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block cloud %}
    <div class="cloud">
        <h2>标签云</h2>
        <ul>
            {% for t in tags_cloud %}
                <a href="/">{{ t.name }}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block guanzhu %}
    <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
            <img src="{{ url_for('static',filename='images/1.jpg') }}">
        </ul>
    </div>
{% endblock %}
{% block main %}
    <main>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title">{{ article.name }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a href="#">{{ article.author }}</a></li>
                        <li class="lmname"><a href="#">学无止境</a></li>
                        <li class="timer">{{ article.timestamp }}</li>
                        <li class="view">点赞： {{ article.like_info }}</li>
                    </ul>
                </div>
                <div class="tags">
                    {% for tag in tags %}
                        <a href="/" target="_blank">{{ tag.name }}</a>
                        &nbsp;
                    {% endfor %}
                </div>
                <div class="news_about">
                    <strong>简介</strong>
                    <p>{{ article.intro }}</p>
                </div>
                <div class="news_con">
                    {{ article.body|safe }}
                </div>
            </div>
            <div class="share">
                <p class="diggit">
                    {% if current_user.is_authenticated %}
                        {% if not current_user.had_like(article) %}
                            <a href="{{ url_for('blog.like_article',aid=article.id ) }}">
                                <b>点个赞呗!</b>&nbsp;(<b>{{ article.like_info }}</b>)
                            </a>
                        {% else %}
                            <a href="#">
                                <b>已赞!</b>&nbsp;(<b>{{ article.like_info }}</b>)
                            </a>
                        {% endif %}

                    {% else %}
                        <a href="{{ url_for('blog.login' ) }}">
                            <b>登陆后点赞!</b>
                        </a>
                    {% endif %}
                </p>
            </div>
            <div class="nextinfo">
                <p>上一篇：
                    <a href="{% if article.pre_id == -1 %}#{% else %}{{ url_for('blog.detail',aid=article.pre_id) }}{% endif %}">
                        {{ article.pre_name }}
                    </a>
                </p>
                <p>下一篇：
                    <a href="{% if article.next_id == -1 %}#{% else %}{{ url_for('blog.detail',aid=article.next_id) }}{% endif %}">
                        { article.next_name }}
                    </a>
                </p>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <div class="gbko">
                    {% for comment in comments %}

                        <div class="fb">
                            <ul style="background: url({{ url_for('static',filename='images/tx7.jpg') }}) no-repeat top 20px left 10px;">
                                <a href="#cont" onclick="info({{ comment.f_id }})">
                                    <p class="fbtime"><span>{{ comment.timestamp }}</span> {{ comment.f_name }}</p>
                                    <cpntent class="fbinfo">{{ comment.body_html|safe }}</cpntent>
                                    {% if comment.to_id %}
                                        <div class="ecomment">
                                        <span class="ecommentauthor">
                                            网友 {{ comment.t_name }} 的原文：
                                        </span>
                                            <p class="ecommenttext">{{ comment.t_content|safe }}</p>
                                        </div>

                                    {% endif %}
                                </a>

                            </ul>
                        </div>
                    {% endfor %}
                    <script>

                        let uid = {{ current_user.id }}
                        function info(f_id){
                           if (uid === f_id){


                           }else {
                                console.log(f_id);
                            $("option[value=f_id]");
                           }

                        }

                    </script>
                    <form action="{{ url_for('blog.new_comment',aid=article.id) }}" method="post" name="saypl" id="saypl">
                        <div id="plpost">
                            <p class="saying"><span><a href="#">共有
                                    {{ counts }}条评论</a></span>来说两句吧...
                            </p>
                            <div id="cont">
                                <label>
                                    <input type="radio" name="postscript" value=1 />回复
                                </label>

                                <select name="cars">
                                    {% for comment in comments %}
                                        <option  value="{{ comment.f_id }}">{{ comment.f_name }}</option>
                                    {% endfor %}
                                </select>
                                {{ form.csrf_token() }}
                                {{ form.body(class="text-body", rows="5", placeholder="你有什么想法？") }}
                                {{ form.submit() }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}