{% extends 'base.html' %}
{% block title %}
    detail
{% endblock %}
{% block scripts %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {{ pagedown.include_pagedown() }}
    <link href="{{ url_for('static',filename='css/info.css') }}" rel="stylesheet">
{% endblock %}
{% block about_me %}
{% endblock %}
{% block fenlei %}
    <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for sort in sorts %}
                <li onclick="sorted()">
                    <a href="{{ url_for('blog.class_articles',sid=sort.id) }}">{{ sort.name }}（{{ sort.total }}）</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block tuijian %}
    <div class="tuijian">
        <h2>最新推荐</h2>
        <ul>
            {% for article in rec %}
                <li><a href="{{ url_for('blog.detail',aid=article.id) }}">{{ article.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block cloud %}
    <div class="cloud">
        <h2>标签云</h2>
        <ul>
            {% for t in tags_cloud %}
                <a href="/">{{ t.name }}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block guanzhu %}

{% endblock %}
{% block main %}
    <main>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title">{{ article.name }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a href="#">{{ article.author }}</a></li>
                        <li class="lmname"><a href="#">学无止境</a></li>
                        <li class="timer">{{ article.timestamp }}</li>
                        <li class="view">点赞： {{ article.like_info }}</li>
                    </ul>
                </div>
                <div class="tags">
                    {% for tag in tags %}
                        <a href="#" target="_blank">{{ tag.name }}</a>
                        &nbsp;
                    {% endfor %}
                </div>
                <div class="news_about">
                    <strong>简介</strong>
                    <p>{{ article.intro }}</p>
                </div>
                <div class="news_con">
                    {{ article.body|safe }}
                </div>
            </div>
            <div class="share">
                <p class="diggit">
                    {% if current_user.is_authenticated %}
                        {% if not current_user.had_like(article) %}
                            <a href="{{ url_for('blog.like_article',aid=article.id ) }}">
                                <b>点个赞呗!</b>&nbsp;(<b>{{ article.like_info }}</b>)
                            </a>
                        {% else %}
                            <a href="#">
                                <b onclick="show()">已赞!</b>&nbsp
                            </a>
                        {% endif %}

                    {% else %}
                        <a href="#">
                            <b id="likeRequest" onclick="newLike()">点个赞呗!!</b>
                        </a>
                    {% endif %}
                </p>
            </div>
            <div class="nextinfo">
                <p>上一篇：
                    <a href="{% if article.pre_id == -1 %}#{% else %}{{ url_for('blog.detail',aid=article.pre_id) }}{% endif %}">
                        {{ article.pre_name }}
                    </a>
                </p>
                <p>下一篇：
                    <a href="{% if article.next_id == -1 %}#{% else %}{{ url_for('blog.detail',aid=article.next_id) }}{% endif %}">
                        {{ article.next_name }}
                    </a>
                </p>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <div class="gbko">
                    {% for comment in comments %}
                        <div class="fb">
                            <ul style="background: url({{ url_for('static',filename='images/tx7.jpg') }}) no-repeat top 20px left 10px;">
                                <a href="#cont" onclick="info({{ comment.f_id }})">
                                    <p class="fbtime"><span>{{ comment.timestamp }}</span> {{ comment.f_name }}</p>
                                    <cpntent class="fbinfo">{{ comment.body_html|safe }}</cpntent>
                                    {% if comment.to_id %}
                                        <div class="ecomment">
                                        <span class="ecommentauthor">
                                            网友 {{ comment.t_name }} 的原文：
                                        </span>
                                            <p class="ecommenttext">{{ comment.t_content|safe }}</p>
                                        </div>
                                    {% endif %}
                                </a>
                            </ul>
                        </div>
                    {% endfor %}
                    <form action="{{ url_for('blog.new_comment',aid=article.id) }}" method="post" name="saypl"
                          id="saypl">
                        <div id="plpost">
                            {% if ccounts %}
                                <p class="saying"><span><a href="#">共有
                                    {{ counts }}条评论</a></span>来说两句吧...
                                </p>
                            {% endif %}
                            {{ form.csrf_token() }}
                            {{ form.body(class="text-body", rows="5", placeholder="评论功能还未上线") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script>
        function show() {
            $.message({
                message: '已经点过赞了-',
                type: 'success',
            });
        }

        function newLike() {
                $.message({
                message: '你好像没有登陆-',
                type: 'warning',
            });
        }
    </script>
{% endblock %}
